
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.res {
    display: flex;
    align-items: center;
}

.row {
    padding: 0 15px;
    min-height: 100vh;
    justify-content: center;
    background: #f0f2f5;
}

.form {
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

.form .card {
    margin-bottom: 90px;
}

.form h1 {
    color: #760778;
    font-size: 4rem;
    margin-bottom: 10px;
}

.form p {
    font-size: 1.75rem;
    white-space: nowrap;
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

form input {
    height: 55px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 0 14px;
}

form input:focus {
    outline: none;
    border-color: #760778;
}

::placeholder {
    color: #777;
    font-size: 1.063rem;
}

.submit {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.submit .login {
    border: none;
    outline: none;
    cursor: pointer;
    background: #a212a4;
    padding: 15px 0;
    border-radius: 6px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
}

.submit .login:hover {
    background: #760778;
}

form a {
    text-decoration: none;
}

.submit .forgot {
    color: #c41eae;
    font-size: 0.875rem;
}

.submit .forgot:hover {
    text-decoration: underline;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.button a {
    padding: 15px 20px;
    background: #8f6c98;
    border-radius: 6px;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 600;
}

.button a:hover {
    background: #450246;
}


@media (max-width: 900px) {
    .form {
        flex-direction: column;
        text-align: center;
    }

    .form .card {
        margin-bottom: 30px;
    }
}

@media (max-width: 460px) {
    .form h1 {
        font-size: 3.5rem;
    }

    .form p {
        font-size: 1.3rem;
    }

    form {
        padding: 15px;
    }
}
